﻿@model Wentzel.ProductBuilder.DotNetDemo.MVC.Models.ProductBuilderRequest

@{
    ViewBag.Title = "Open Product Builder Demo";
}

<h2>Open Product Builder from wholesale webshop/e-commerce system</h2>
<div class="form-horizontal">
    <div class="form-group">
        <label for="inputAccessToken" class="col-sm-2 control-label">Access Token</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputAccessToken" value="@Model.AccessToken" disabled>
        </div>
    </div>
    <div class="form-group">
        <label for="inputTimestamp" class="col-sm-2 control-label">Timestamp</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputTimestamp" value="@Model.Timestamp" disabled>
        </div>
    </div>
    <div class="form-group">
        <label for="inputStringToSign" class="col-sm-2 control-label">String To Sign</label>
        <div class="col-sm-10">
            <textarea rows="2" class="form-control" id="inputStringToSign" disabled>@Model.StringToSign</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="inputSignature" class="col-sm-2 control-label">Signature</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputSignature" value="@Model.Signature" disabled>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a class="btn btn-default" href="@Html.Raw(Model.RawUrl)">Open Product Builder</a>
        </div>
    </div>
</div>
