﻿@model Wentzel.ProductBuilder.DotNetDemo.MVC.Models.ProjectResponse

@{
    ViewBag.Title = "Success Response";
}

<h2>Success Callback Response</h2>

<div>
    @if (Model.IsValid) {
        <div class="alert alert-success" role="alert">Signature is valid</div>
    }
    else {
        <div class="alert alert-warning" role="alert">Signature is incorrect</div>
    }
</div>

<div class="form-horizontal">
    <div class="form-group">
        <label for="inputProjectID" class="col-sm-2 control-label">Project ID</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputProjectID" value="@Model.ProjectID" disabled>
        </div>
    </div>
    <div class="form-group">
        <label for="inputTotalPrice" class="col-sm-2 control-label">Total Price</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputTotalPrice" value="@Model.TotalPrice" disabled>
        </div>
    </div>
    <div class="form-group">
        <label for="inputActualSignature" class="col-sm-2 control-label">Actual Signature</label>
        <div class="col-sm-10">
            <textarea rows="2" class="form-control" id="inputActualSignature" disabled>@Model.ActualSignature</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="inputExpectedSignature" class="col-sm-2 control-label">Expected Signature</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputExpectedSignature" value="@Model.ExpectedSignature" disabled>
        </div>
    </div>
</div>